/* Table of Contents

1.0 Default
2.0 Elements
	2.1 Nav
	2.2 Buttons
	2.3 Lists
	2.4 Images
	2.5 Icons
	2.6 Sliders
3.0 Header
	3.1 Header Default
	3.2 Header Custom
		3.2.1 Header Index
		3.2.2 Header About
		3.2.3 Header Industries
		3.2.4 Header Resources
		3.2.5 Header Community			
4.0 Content
	4.1 Content Default
	4.2 Content Custom
		4.4.1 Content Index
		4.4.2 Content About
		4.4.3 Content Industries
		4.4.4 Content Rescources
		4.4.5 Content Community
5.0 Footer
	5.1 Footer Default
	5.2 Footer Custom
	
6.0 Sidebars
7.0 Responsive @media
8.0 Browser specific
9.0 Experimental (beta stage)
	9.1 Animations & Transitions


*/


/* @group 1.0 Default */

p {
	font-weight: 500;
	line-height: 24px;
	color: #1b485d;
}

.pts-resources h3 {
	padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
	color: #1b485d;
}

#white {
	padding: 40px 0;
}

#white a {
	text-decoration: underline;
}

#white a:hover {
	color: #111;
}

#white ul {
	list-style: disc inside;
	margin: 0;
	padding: 0;
	font-weight: 500;
}

#white ul a {
	text-decoration: none;
}

#white .item {
	padding: 30px 30px 0 0;
}

#white .item p:last-child {
	margin-bottom: 0;
}

.sidebar {
	padding-top: 0px !important;
}

.sidebar .block {
	background-color: #f2f7f9;
	padding: 20px 30px;
	color: #1b485d;
	margin-bottom: 30px;
}

.sidebar .block h2,
.sidebar .block h3 {
	color: #1b485d;
}

.sidebar .block p {
	line-height: 24px;
}

.btn {
	background-color: #1d4c60;
	color: #fff;
	padding: 8px 15px;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	border-radius: 3px;
	text-decoration: none !important;
}

.btn:hover {
	background-color: #2c657d;
	color: #fff !important;
}

.btn.light {
	background-color: #80a9ba;
}

.btn.light:hover {
	color: #fff !important;
	background-color: #96becf;
}

.btn.large {
	padding: 12px 30px;
	font-size: 17px;
}

.btn.large:hover {
	color: #fff !important;
}

#f {
	background-color: #f2f7f9;
	color: #1b485d;
}

#f h4 {
	color: #1b485d;
}

#f p {
	color: #1b485d;
}

#f a, #pdf-profiles a {
	color: #1b485d;
	text-decoration: underline;
}

#f a:hover {
	color: #000;
}

.center-y {
	vertical-align:middle;
}





/* @end | Default */

/* @group 2.0 Elements */  


/* @group 2.1 Nav */

.nav > li > a {
	font-weight: 100;
	font-size: 16px;
}

/* Sub Nav Pages - Sticky */

.nav-subpage   {
	
	
	color: white;
	font-size: 16px;
	line-height: 1.2em;
	text-align: center;
	padding: 10px;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	width:660px;
	z-index: 9999;
}

.nav-shadow {
border-top: 5px solid #a1cb2f;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
}

.nav-subpage  a {
	text-transform: uppercase;
	color: #FFF;
	font-weight: 300;
	font-size: 16px;
	padding: 0;
	padding: 2px 4px;
}


.nav-subpage a:hover {
	background: #fff;
	color: #1A485C;
	
}

.nav-subpage  ul {
	border-top: 1px solid #fff;
	padding-top: 12px;
	display: block;
}

.nav-subpage li {
	padding: 2px 4px;
	display: inline;
	margin-right: 8px;
}


.nav-subpage li:last-child {
	margin-right: 0px;
}

/* Footer Navigation */

.extra-nav {
	border-top: 1px solid #d4d3d7;
}

.extra-nav .container article {
	float: left;
	padding: 10px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px solid #d4d3d7;
}

.extra-nav .container article:first-child {
	border: none;
}

.extra-nav .container article h3 {
	font-size: 32px;
	font-weight: 300;
}

.extra-nav .container article ul {
	height: 100%;
	min-height:100%
}

.extra-nav .container article ul li {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 4px;
}

/* @end | Nav */

/* @group 2.2 Buttons */

/* @end | Buttons */

/* @group 2.3 Lists */

/* @end | Lists */

/* @group 2.4 Images */

/* @end | Images */

/* @group 2.5 Icons */





/* @end | Icons */

/* @group 2.5 Sliders */

/* Press Sliders */

#news-slider {
	margin: 48px 0 48px 0;
}

.news-slider {
	padding-top: 24px;
}

section.news-slider {
	margin: 0;
}


.news-slider h2 {
	font-size: 36px;
	font-weight: 200;
}


/* @end | Sliders */

/* @end | Elements */


/* @group 3.0 Header */

/* @group 3.1 Header Default */

.bitsharesx-header .inner-lg-billboard .container
{
  position: relative;
  width: 100%;
  height: 280px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header h2  img {
	width: 96px;
	margin-top: -12px;
}



/* @end | Header Default */

/* @group 3.2 Header Custom */

/* @group 3.2.1 Header Index */


/* @end | Header Index */


/* @group 3.2.2 Header About */
/* @end | Header About */

/* @group 3.2.3 Header Industries */


/*  Header Banking - BitsharesX  */

#headerwrap.community {
	background: url(/assets/img/community-banner.jpg)  no-repeat center top;
/*	min-height: 400px; */
  background-size: 100%;
/*  background-size:100% 100%; */
}


#headerwrap.bitsharesx {
	background: url(../img/stockback.jpg)  no-repeat center top;
	min-height: 400px;
  background-size:100% 100%;
}

/*  Header Domain Names - BitsharesDNS  */

.dns-header {
	position: relative;
	background-image: url(/assets/img/domains/bitsharesdns-banner.jpg); */
	background-color: #fff !important;
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: cover;
	width: 100%;
	height: auto;
	color: #fff;

}



/*  Header Bitshares AGS */

#headerwrap.ags {
	background: url(../img/above-the-clouds-hd-wallpaper.jpg)  no-repeat center top;
	min-height: 400px;
  background-size:100% 100%;
}

/*  Header Bitshares PTS */

#headerwrap.pts {
	background: url(../img/blueprint.jpg)  no-repeat center top;
	min-height: 400px;
  background-size:100% 100%;
}

/*  Header all Industries */

#headerwrap.bitsharesx .buttons,
#headerwrap.index-page .buttons {
	padding: 30px 0 90px 0;
}

#headerwrap.bitsharesx .buttons a,
#headerwrap.index-page .buttons a {
	display: inline-block;
	border: 0;
	margin: 0 10px;
	padding: 14px 40px;
}

#headerwrap.bitsharesx .buttons a:hover,
#headerwrap.index-page .buttons a:hover {
	background-color: #619dc3;
}

#headerwrap.index-page {
	text-align: center;

}

#headerwrap.index-page h2 {
	color: #b1cbdb;
}



/* @end | Header Industries */

/* @group 3.2.4 Header Resources */


/* Header Keyhotee */
#headerwrap.keyhotee {
	/*background: none #afe1f8;*/
	background: url(../img/windmills_in_holl.jpg)  no-repeat center top;
	background-position: center bottom;
	background-attachment: relative;
	min-height: 400px;
  background-height:100%;
  background-width:100%;
  /*background-size:100%;
	color: #1b485d;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap.keyhotee .row {
	margin-bottom: 60px;
	text-align: center;
}

#headerwrap.keyhotee h1,
#headerwrap.keyhotee h2 {
	color: #1b485d;
}

#headerwrap.keyhotee h3 {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

#headerwrap.keyhotee .buttons {
	padding: 20px 0 10px 0;
}

#headerwrap.keyhotee .buttons a {
	display: inline-block;
	margin: 0 10px;
}


/* @end | Header Resources */

/* @group 3.2.5 Header Community */
/* @end | Header Community */


/* @end | Header Custom */

/* @end | Header */



/* @group 4.0 Content */

/* @group 4.1 Content Default */


.boxes {
	margin-bottom: 70px;
}
.lightblue-bg {
	background-color: #d2e7f9;
	padding: 20px 0 0 0;
	overflow: hidden;
}

.lightblue-bg img {
/*	box-shadow: 0 0 40px #aec7d1; */
}

.downloads h2 {
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 30px;
}

.downloads p {
	color: #759eaf;
	font-size: 22px;
	line-height: 32px;
	width: 80%;
}

.paper {
	text-align: center;
}

.paper .part-01 {
	background-color: #1e4b60;
}

.paper .part-02 {
	background-color: #afe1f8;
}

.paper img {
	display: inline-block;
}

.paper .download-section {
	display: none;
	padding: 50px 0;
	background-color: #1e4b60;
	color: #fff;
}

.paper .download-section h2 a {
	font-size: 32px;
	color: #94bed2;
	text-decoration: none !important;
}

.paper .download-section h2 a:hover {
	color: #fff !important;
}


/* @end | Content Default */

/* @group 4.2 Content Custom */

/* @group 4.2.1 Content Index */

.index-content {
	background-color: #f2f7f9;
	padding: 40px 0;
}

.index-content .mt .inner {
	background-color: #fff;
	text-align: center;
	padding: 50px 0;
	border-radius: 3px;
	border: 1px solid #d8e2e6;
	box-shadow: 0 2px 2px #d8e2e6;
	margin-bottom: 30px;
}

.index-content .fa {
	font-size: 90px;
	color: #c7d7e0;
}

.index-content .mt h3 {
	font-size: 32px;
	margin-bottom:35px;
}

.index-content .mt .btn {
	padding: 14px 25px;
	border: none;
}

.index-sub-title.col-1 { min-height:42px; margin-bottom: 12px; }
.index-sub-title.col-2 { margin-top:-40px; margin-left:100px; margin-bottom: 12px; }
.index-sub-title.col-3 { margin-top:-30px; margin-left:90px; margin-bottom: 12px; }



/* ================== Unlimited Opportunities  ================== */


.ico-feature {
height: 200px;
}



.ico-title {
	margin-top: -8px;
}


.ico-title h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 22px;

}


.index-sub-title.col-1 {
	margin-bottom: 12px;
}


/* 1st row */

.ico-banking {
	background:  url('../img/ico/ico-banking.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-banking:hover {
	background: url('../img/ico/ico-banking-h.svg') no-repeat center 48px;
	
}


.ico-domain {
	background:  url('../img/ico/ico-domain.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-domain:hover {
	background:  url('../img/ico/ico-domain-h.svg') no-repeat center 48px;

	
	
}

.ico-stock {
	background:  url('../img/ico/ico-stock.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-stock:hover {
	background:  url('../img/ico/ico-stock-h.svg') no-repeat center 48px;
	
}


.ico-money {
	background:  url('../img/ico/ico-money.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-money:hover {
	background: url('../img/ico/ico-money-h.svg') no-repeat center 48px;
}


/* 2nd row */


.ico-music {
	background:  url('../img/ico/ico-music.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-music:hover {
	background:  url('../img/ico/ico-music-h.svg') no-repeat center 48px;

}



.ico-charity {
	background:  url('../img/ico/ico-charity.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-charity:hover {
	background: url('../img/ico/ico-charity-h.svg') no-repeat center 48px;

}

.ico-contracts {
	background:  url('../img/ico/ico-contracts.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-contracts:hover {
	background:  url('../img/ico/ico-contracts-h.svg') no-repeat center 48px;

}


.ico-insurance {
	background:  url('../img/ico/ico-insurance.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-insurance:hover {
	background:  url('../img/ico/ico-insurance-h.svg') no-repeat center 48px;

}


/* 3rd row */

.ico-voting {
	background:  url('../img/ico/ico-voting.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-voting:hover {
	background: url('../img/ico/ico-voting-h.svg') no-repeat center 48px;
}



.ico-gaming {
	background:  url('../img/ico/ico-gaming.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-gaming:hover {
	background: url('../img/ico/ico-gaming-h.svg') no-repeat center 48px;
}

.ico-lending {
	background:  url('../img/ico/ico-lending.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-lending:hover {
	background:  url('../img/ico/ico-lending-h.svg') no-repeat center 48px;
}


.ico-identity {
	background:  url('../img/ico/ico-identity.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;
	
}

.ico-identity:hover {
	background: url('../img/ico/ico-identity-h.svg') no-repeat center 48px;
}

/* ================== Get your Share  ================== */


/* ================== Get involved  ================== */

/* @end | Content Index */


/* @group 4.2.2 Content About */
/* @end | Content About */

/* @group 4.2.3 Content Industries */


/* @group Banking - BitSharesX */
.bitsharesx.bitshares .row.boxes:first-child {
	margin-bottom: 20px;
}

.bitsharesx.bitshares .boxes .col-md-3,
.bitsharesx.bitshares .boxes .col-md-12 {
	text-align: center;
}

.bitsharesx.bitshares .boxes h3 {
	font-size: 16px;
	line-height: 22px;
}

.bitsharesx.bitshares .lightblue-bg {
	background-color: #f7f7f7;
}

.bitsharesx.bitshares .specs-table ul {
	min-height: 300px;
}

.bitsharesx.bitshares .your-bank > .row,
.bitsharesx.bitshares .bitshares > .row {
	margin-bottom: 10px;
}

.bitsharesx.bitshares .your-bank img,
.bitsharesx.bitshares .bitshares img {
	box-shadow: none;
}

.bitsharesx.bitshares .bitshares img {
	position: relative;
	top: -10px;
}

.bitsharesx.bitshares .specs-table h2 {
	margin-bottom: 50px;
	padding-top: 20px;
}

.bitsharesx.bitshares .specs-table h3.maintitle {
	margin-bottom: 10px;
}

.bitsharesx.bitshares h2 {
	font-size: 40px;
	line-height: 50px;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}

.bitsharesx.bitshares .specs-table ul {
	background-color: #fff;
	color: #71767d;
	border: 1px solid #dfdfdf;	
	box-shadow: 0 2px 2px #ccc;
}

#bitshare-big.large-logo {
	padding: 80px 0;
	background: url(../img/bitshares/grow.jpg) no-repeat center center #fff;
	background-size: cover;
}
#bitshare-big.large-logo img {
	width: 100%;
	max-width: 650px;
}

/* @end | Banking  */

/* @group Domain Names - BitSharesDNS */


.dns h3 {
font-weight: 200;
}



.dns-row {
	border-bottom: 1px dotted #ccc;
	margin: 12px 0 12px 0;
	padding: 12px 0;
	height: 50%;
}

.dns-row:last-child {
	border-bottom: none; 

}

.dns-infogfx {
	border: 0px solid #333;
	padding: 4px;
	min-height: 500px;
}

.dns-infogfx .good {
	color: #000;
}



.dns-infogfx img, .dns-row img {
	height: 148px;

}

.dns-infogfx h3 {
	border: 1px solid #333;
	margin: 0 0 12px 0;
}


.dns-infogfx p {
	margin: 12px 0 12px 0;
	padding: 8px;
	
}

.dns-infogfx footer  {
border: 0px solid #333;
background: none;
display: inline;
bottom: 0px;
left: 0px;
height: 200px;
position: absolute;
}



/* DNS Resources  */

.dns-resources {
	padding: 40px 0;
}


.dns-resources .ico-title {
}

.dns-ico-faq {
	background:  url('../img/domains/ico/ico-faq.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;

}

.dns-ico-faq:hover {
	background:  url('../img/domains/ico/ico-faq-h.svg') no-repeat center 48px;

}

.dns-ico-source {
	background:  url('../img/domains/ico/ico-source.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;

}

.dns-ico-source:hover {
	background:  url('../img/domains/ico/ico-source-h.svg') no-repeat center 48px;

}

.dns-ico-wiki {
	background:  url('../img/domains/ico/ico-wiki.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;

}

.dns-ico-wiki:hover {
	background:  url('../img/domains/ico/ico-wiki-h.svg') no-repeat center 48px;
	

}

.dns-ico-forum {
	background:  url('../img/domains/ico/ico-forum.svg') no-repeat center 48px;
	margin: 0 auto;
	margin-bottom: 12px;

}

.dns-ico-forum:hover {
	background:  url('../img/domains/ico/ico-forum-h.svg') no-repeat center 48px;
	

}


/* @end | Domain Names */


/* @end | Content Industries */

/* @group 4.2.4 Content Resources */
/* @end | Content Resources */

/* @group 4.2.5 Content Community */
/* @end | Content Community */


/* @end | Content Custom */

/* @end | Content */

/* @group 5.0 Footer */

/* 5.1 Footer Default */


/* 5.2 Footer Custom */

/* @end | Footer */

/* @group 6.0 Sidebars */



/* @end | Sidebars  */

/* @group 7.0 Responsive @media */

@media (max-width: 1200px) {

	.bitsharesx .boxes h2 {
		font-size: 26px;
		line-height: 36px;
	}

	.bitsharesx .boxes li {
		width: 25%;
		min-height: 140px;
		margin: 0 30px;
		margin-bottom: 30px;
	}

	.bitsharesx .specs-table li h3 {
		margin-top: 10px;
	}

	.bitsharesx .specs-table li {
		font-size: 13px;
	}

	#headerwrap.index-page h1 {
		font-size: 38px;
	}
	#headerwrap.index-page h2 {
		font-size: 28px;
	}

}

@media (max-width: 991px) {
	#headerwrap .col-md-3 {
		width: 50%;
		float: left;
		text-align: center;
		padding-bottom: 30px;
	}
	#headerwrap .col-md-3 h3 {
		width: 70%;
		margin: 0 auto;
	}

	.downloads .col-md-6 {
		padding-bottom: 50px;
	}

	.downloads .col-md-6:last-child {
		padding-bottom: 0;
	}

	.bitsharesx .boxes {
		text-align: center;
	}

	.bitsharesx .boxes h2 {
		font-size: 36px;
		line-height: 42px;
		text-align: center;
	}

	.bitsharesx .boxes img.bitsharesx-logo {
		width: 50%;
		margin: 0 auto 70px auto;
	}

	.bitsharesx .boxes ul {
		padding-right: 70px;
	}

	.bitsharesx .boxes li {
		width: 35%;
	}

	.bitsharesx .specs-table ul {
		width: 50%;
		margin: 0 auto 40px auto;
	}

	.col-md-6.your-bank {
		margin-bottom: 100px;
	}

	.bitsharesx .boxes li.clear-mobile {
		clear: right;
	}

	#headerwrap.index-page {
		padding-bottom: 50px;
	}

	#headerwrap.index-page .buttons {
		padding-bottom: 20px;
	}

	.bitsharesx .action-buttons a.btn {
		margin-bottom: 20px;
	}
	

	
}

@media (max-width: 768px) {
	.paper .part-01, .paper .part-02 {
		display: none;
	}

	.paper .download-section {
		display: block;
	}

	#headerwrap .buttons a {
		display: block !important;
		margin-bottom: 15px !important;
		width: 60%;
		margin: 0 auto 15px auto !important;
	}
	
	
	.logo {
		position: absolute;
		margin: 10px 0 0 24px ;
		
	}



}

@media (max-width: 660px) {
	.bitsharesx .boxes h2 {
		padding: 0 30px;
	}

	.bitsharesx .boxes ul {
		padding-right: 20px;
	}

	.bitsharesx .boxes li {
		width: 90%;
		float: none;
	}

	.bitsharesx .boxes li h3 {
		font-size: 18px;
	}

	body .bitsharesx .boxes li span {
		font-size: 15px;
	}

	.action-buttons a {
		display: block;
		width: 90%;
		margin-bottom: 30px !important;
	}
	
	.f-col-25 {
		width: 100%;
	}
	
	.extra-nav .container article {
		border: none;
		text-align: center;
	}
	
}

@media (max-width: 600px) {
	#headerwrap .col-md-3 {
		width: 100%;
		float: none;
		text-align: center;
		padding-bottom: 30px;
	}
	#headerwrap .col-md-3 h3 {
		width: 50%;
		margin: 0 auto;
	}

	#headerwrap .buttons a {
		display: block !important;
		width: 100%;
		margin: 0 auto 15px 0 !important;
	}

	.downloads .col-md-6 {
		text-align: center;
	}

	.downloads .col-md-6 p {
		width: 100%;
	}

	.bitsharesx .boxes ul {
		padding: 0;
	}

	.bitsharesx .boxes li {
		width: 70%;
		float: none;
		min-height: 10px;
		padding-bottom: 20px;
	}

	.bitsharesx .boxes img.bitsharesx-logo {
		width: 90%;
	}

	.bitsharesx .specs-table ul {
		width: 90%;
	}
}

/* @media (max-width: 400px)  */

@media (max-width: 400px) {
	#headerwrap .col-md-3 h3 {
		width: 80%;
		margin: 0 auto;
	}

	.btn.large {
		font-size: 16px;
		padding: 10px 20px;
	}

	.downloads p {
		font-size: 17px;
		line-height: 25px;
	}

	.downloads a.btn,
	.sidebar a.btn {
		font-size: 14px;
		padding: 6px 10px;
	}
	
	
}


/* @end | Responsive @media */




/* @group 8.0 Browser specific */



/* @end | Browser specific */

/* @group 9.0 Experimental */

/* @group 9.1 Animations & Transitions */



/* @end | Animations & Transitions */

/* @end | Experimental */









